/* TAG SELECTORS */

a {
  color: #11999e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
}

div {
  background-color: #e4f9f5;
  height: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 100%;
}

h1 {
  color: #66bfbf;
  font-family: "Sacramento", cursive;
  font-size: 7rem;
  margin-top: 0;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin-top: 0;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
}

p {
  font-size: 1.2rem;
  line-height: 2;
  margin: 0;
}

/* CLASS SELECTORS */

.bottom-cloud {
  left: 14rem;
  position: absolute;
  width: 13%;
}

.contact {
  font-size: 1.2rem;
  margin: 0 3rem;
}

.contact-info {
  background-color: white;
  margin: auto;
  padding: 0;
  width: 66%;
}

.copyright-text {
  margin-top: 1.2rem;
  font-size: 1rem;
}

.mountain-img {
  position: relative;
  width: 52.5%;
}

.skill-table {
  padding: 0 12rem;
}

.skills {
  background-color: #e4f9f5;
}

.tejas-img {
  padding-bottom: 5rem;
  width: 30rem;
}

.tejas-title {
  font-size: 1.5rem;
}

.title {
  text-decoration: underline;
}

.top-container {
  padding-bottom: 0;
  position: relative;
}

.top-cloud {
  right: 18rem;
  position: absolute;
  top: 1rem;
  width: 13%;
}

.contact-me,
.middle-container {
  background-color: white;
}

/* ID SELECTORS */
